@keyframes marquee {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

body {
  overflow: hidden;
  width: 100vw;
}

.pronunciation {
  font-size: 1.5em;
  color: red;
  animation: marquee linear 30s infinite;
  display: inline-block;
}

#fun {
  font-size: 1.5em;
  display: inline-block;
  animation: marquee linear 10s reverse infinite;
}

#fun.jumpy {
  animation: unset;
}

#iamdesign {
  /* this is - 6em so the text on top and bottom show */
  height: calc(100vh - 6em);
  max-width: 100%;
  width: 100%;
  background-image: url('/iamdesign.png');
  background-repeat: no-repeat;
  background-size: contain;
}
